<h3>
  <small>[Projektname]</small>
  <br/>
  Scrum Board
</h3>
<hr/>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Backlog</th>
    <th>New</th>
    <th>In Progress</th>
    <th>Done</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="width: 200px;">
      <div class="userstory">
        <div class="caption">
          <h5>User Story 1</h5>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
        </div>
      </div>
    </td>
    <td>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Task 1</a>
      </div>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor sit amet</a>
      </div>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor sit amet</a>
      </div>
      <br>
    </td>
    <td>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor sit amet</a>
      </div>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor sit amet</a>
      </div>
    </td>
    <td>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor sit amet</a>
      </div>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor sit amet</a>
      </div>
    </td>
  </tr>
  <tr>
    <td style="width: 200px;">
      <div class="userstory">
        <div class="caption">
          <h5>User Story 2</h5>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
        </div>
      </div>
    </td>
    <td>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Task 1</a>
      </div>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor sit amet</a>
      </div>
      <br>
    </td>
    <td>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Task 56</a>
      </div>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor sit amet</a>
      </div>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor sit amet</a>
      </div>
    </td>
    <td>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Dolor sit amet</a>
      </div>
      <div class="task">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <a>Lorem ipsum dolor</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>