<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Editing Sprint
    <% if @sprint.startDate < Date.today && @sprint.endDate > Date.today %>
        <span class="label label-warning">In Progress</span>
    <% end %>
    <% if @sprint.startDate < Date.today && @sprint.endDate < Date.today %>
        <span class="label label-success">Done</span>
    <% end %>
  </h4>
</div>
<%= render 'form', sprint: @sprint %>
